body {
    background-color: black;
    text-align: left;
    color: aliceblue;

}

h1 {
    background-color: red;
    text-align: center;
    border: 10x solid;
    padding: 10px;
    color: black;
}

strong {
    color: red;
}

#banner {
    width: 120%;
    text-align: center;
}

.principal{
    background-color: black;
}

.beneficios {
background-color:
#699dac
    padding: 20px;
}


h2 {
    color: rgb(0, 0, 0);
    background-color: red;
    text-align: center;
    border: 10x solid;
    padding: 10px;
} 

.itens {
    text-align: left;
    font-size: 22px;
}

.imagembeneficios {
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    border: 3px solid rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}
.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "🟊";
}

.imagembeneficios {
    width: 40%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.imagembeneficios:hover {
    opacity: 0.3;
}