body{
    background-color: rgb(0, 0, 0);
    color: rgb(247, 240, 240);
    text-align: center;
}

h1 {
    text-align: center;
    background-color: rgb(0, 0, 0) ; 
    color: rgb(231, 231, 238);
}

p{
    text-align: center;
}

em strong{
        color: red;
}

#baner{
    width: 70%;
}

.beneficios{
 background: rgb(0, 0, 0);
}

.beneficios{
    padding: 20px;
}

h2{
    text-align: center;
}

ul{
    diplay-inlen-blok;
    vertical-aling: top;
    width: 20px;
    margin-rig

}