body {
    background-color: black;
    text-align: left;
    color: aliceblue;

}

h1 {
    background-color: red;
    text-align: center;
    border: 10x solid;
    padding: 10px;
    color: black;
}

strong {
    color: red;
}

#banner {
    width: 120%;
    text-align: center;
}

.principal{
    background-color: black;
}

.beneficios {
background-color:
#699dac
    padding: 20px;
}


h2 {
    color: rgb(0, 0, 0);
    background-color: red;
    text-align: center;
    border: 10x solid;
    padding: 10px;
} 

.itens {
    text-align: left;
    font-size: 22px;
}

.imagembeneficios {
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    border: 3px solid rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}